/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    padding: 0 0 0 0;
    background: #213b52;
    background: linear-gradient(180deg,rgb(250,250,230) 0%,rgb(230,230,250) , rgb(230,230,250)  100%);
  }
  
  #hero h1 {
    margin: 0 0 15px 0;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    color:brown;
    font-family: 'Julius Sans One', sans-serif;
  }
  
  #hero h2 {
    color: rgb(29, 29, 29);
    margin-bottom: 30px;
    font-size: 22px;
  }
  
  #hero .btn-get-started {
    color: #213b52;
    border-radius: 50px 10px 50px 10px;
    padding: 8px 35px 10px 35px;
    border: 1px solid brown;
    transition: all ease-in-out 0.3s;
    display: inline-block;
    background: rgb(250, 250,230);
  }
  
  #hero .btn-get-started:hover {
    background: brown;
    color: #fff;
    border-radius: 10px 50px 10px 50px;
  }
  
  @media (max-width: 991px) {
    #hero .hero-img {
      text-align: center;
    }
    #hero .hero-img img {
      width: 50%;
    }
  }
  
  @media (max-width: 768px) {
    #hero {
      -moz-text-align-last: center;
      text-align-last: center;
    }
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
    #hero .hero-img img {
      width: 70%;
    }
  }
  
  @media (max-width: 575px) {
    #hero .hero-img img {
      width: 80%;
    }
  }
  
 
  .jumbo_productos {
    background-color: rgb(230,230,250);
    color: brown;
  }
  .jumbo_productos .jumbotron-fluid {
    color: brown;
  }
  .section_dos {
    background-color: rgb(230,230,250);
    color: brown;
  }
  .section-title h2 {
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    font-family: "Poppins", sans-serif;
    color: #213b52;
  }
  
  .section-title h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }
  
  .section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: $main-color;
    bottom: 0;
    left: calc(50% - 20px);
  }
  
  .section-title p {
    margin-bottom: 0;
  }
  /*--------------------------------------------------------------
 Logos Ecologicos
--------------------------------------------------------------*/
.clients {
    padding: 0;
  }
  
  .clients .client-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 120px;
  }
  
  .clients .client-logo img {
    height: 50px;
  }
  
  .clients .client-logo:hover img {
    transform: scale(1.8);
  }
  
  .clients img {
    transition: all 0.4s ease-in-out;
  }
  
/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
    margin-bottom: 30px;
  }
  
  .portfolio #portfolio-flters {
    padding: 0;
    margin: 0 0 35px 0;
    list-style: none;
    text-align: center;
  }
  
  .portfolio #portfolio-flters li {
    cursor: pointer;
    margin: 0 5px 5px 0;
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: red;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
  }
  
  .portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
    color: #fdc134;
  }
  
  .portfolio #portfolio-flters li:last-child {
    margin-right: 0;
  }
  
  .portfolio .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    z-index: 1;
  }
  
  .portfolio .portfolio-wrap::before {
    content: "";
    background:lightpink 65%;
    filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    position: absolute;
    left: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all ease-in-out 0.3s;
    z-index: 2;
  }
  
  .portfolio .portfolio-wrap img {
    transition: 0.3s;
  }
  
  .portfolio .portfolio-wrap .portfolio-links {
    opacity: 0;
    left: 0;
    right: 0;
    top: calc(50% - 36px);
    text-align: center;
    z-index: 3;
    position: absolute;
    transition: all ease-in-out 0.3s;
  }
  
  .portfolio .portfolio-wrap .portfolio-links a {
    color:$main-color;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    width: 36px;
    height: 36px;
    display: inline-block;
    transition: 0.3s;
  }
  
  .portfolio .portfolio-wrap .portfolio-links a:hover {
    color: #fff;
  }
  
  .portfolio .portfolio-wrap .portfolio-info {
    opacity: 0;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
    transition: all ease-in-out 0.3s;
  }
  
  .portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .portfolio .portfolio-wrap .portfolio-info p {
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  .portfolio .portfolio-wrap:hover::before {
    left: 0;
  }
  
  .portfolio .portfolio-wrap:hover .portfolio-links {
    opacity: 1;
    top: calc(50% - 18px);
  }
  
  .portfolio .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
    bottom: 0;
  }
/* ------------------------------------------------------------------- 
 * responsive:
 * download
 * ------------------------------------------------------------------- */
 @media only screen and (min-width:1600px) and (max-width:2600px){
  .s-download .display-1,
  .s-download .display-2 {
  color: $font-color;
  text-transform: uppercase;
  font-size: 6rem;
  padding-top: 100px;
  }
 }
 
 @media only screen and (min-width:1200px) and (max-width:1600px) {
  .s-download .display-1,
  .s-download .display-2 {
  color: $font-color;
  text-transform: uppercase;
  font-size: 6rem;
  padding-top: 100px;
  }
}
@media only screen and (min-width:800px) and (max-width:1200px) {
  .s-download .display-1,
  .s-download .display-2 {
  color: $font-color;
  text-transform: uppercase;
  font-size: 3rem;
  margin-left: 320px;
}
.s-download .download-content__text {
  width: auto;
  float: none;
  text-align: center;
  margin-bottom:0;
  font-size: small;
  margin-left: 10px;
}
.s-download .download-content__text p {
      margin-bottom: 0px;
}
}

@media only screen and (min-width:400px) and (max-width:800px) {
 .display-4 {
  color: $font-color;
  text-transform: uppercase;
  margin-left: 2px;
  margin-top: 10px;
  margin-right: 100px;
  }
}

 @media only screen and (min-width:1600px) and (max-width:2600px){
    .s-download {
        padding-top: 0rem;
      }
      .s-download .download-content {
        padding-top: 2rem;
        max-width: 100%;
        height: 500px;
        padding-bottom: 500px;
        background: linear-gradient(180deg,rgb(230,230,250) 0%,rgb(230,230,250) , rgb(250,250,230)  100%);
        margin-left: 0px;
    }
    .s-download .download-content__text {
        width: auto;
        float: none;
        text-align: center;
        margin-top: 5rem;
        margin-left: 700px;
        color: brown;
      }  
      .s-download .download-content__image {
        position: static;
        margin: 0 auto;
        max-width: 480px;
        width: auto;
        height: 24rem;
          img {
            width: 270px;
            height: 470px;
            margin-right: 300px;
          }
      }
  }    
 @media only screen and (min-width:1200px) and (max-width:1600px) {
  .s-download {
    padding-top: 2rem;
  }
  .s-download .download-content {
    padding-top: 3rem;
    height: 500px;
    padding-bottom: 12rem;
    background: linear-gradient(180deg,rgb(230,230,250) 0%,rgb(230,230,250) , rgb(250,250,230)  100%);
}
.s-download .download-content__text {
    width: auto;
    float: none;
    text-align: center;
    margin-bottom: 1.6rem;
    margin-left: 50px;
  }
  .s-download .download-content__image {
    position: static;
    margin: 0 auto;
    max-width: 480px;
    width: auto;
    height: 24rem;
      img {
        width:200px;
        height: 370px;
      }
  }
} 
  @media only screen and (min-width:800px) and (max-width:1200px){
    .s-download {
      padding-top: 2rem;
      background: linear-gradient(180deg,rgb(230,230,250) 0%,rgb(230,230,250) , rgb(250,250,230)  100%);
      height: 600px;
    }
    .s-download .download-content {
      padding-top: 5px;
      height: 200px;
      padding-bottom: 0px;

  }
  .s-download .download-content__text {
      width: auto;
      float: none;
      text-align: center;
      margin-bottom: 1.6rem;
      margin-left: 50px;
    }
    .s-download .download-content__image {
      position: static;
      max-width: 480px;
      width: 420px;
      height: 400px;
        img {
          width:200px;
          height: 370px;
          margin-left: 500px;
          margin-top: 60px;
        }
    }  
  }
@media only screen and (min-width:400px) and (max-width:800px){
    .s-download {
        padding-top: 0px;
        background: linear-gradient(180deg,rgb(230,230,250) 0%,rgb(230,230,250) , rgb(250,250,230)  100%);
      }
    
      .s-download .download-content__badges li a {
        width: 206px;
        height: 64px;
        background-size: 206px 64px;
      }
      .s-download .download-content__image img {
        width: 240px;
        height: 399px;
        margin: 50px 100px 10px 110px;
      }
    
      .s-download .download-content__text {
        width: min-content;
        float: none;
        text-align: center;
        margin-left: 110px;
        font-size: small;
        margin-top: 10px;
        color: $font-color;
      }
      .s-download .download-content__text p {
            margin-bottom: 0px;
      }
}

@media only screen and (min-width:200px) and (max-width:399px){
    .s-download {
        padding-top: 0px;
        background: linear-gradient(180deg,rgb(230,230,250) 0%,rgb(230,230,250) , rgb(250,250,230)  100%);
      }
    
      .s-download .download-content__badges li a {
        width: 206px;
        height: 64px;
        background-size: 206px 64px;
      }
      .s-download .download-content__image img {
        width: 150px;
        margin-top: 10%;
        height: 300px;
      }
    
      .s-download .download-content__text {
        width: auto;
        float: none;
        text-align: center;
        margin-bottom:0;
        font-size: small;
        margin-left: 10px;
      }
      .s-download .download-content__text p {
            margin-bottom: 0px;
      }
}
.SeparadorProductos {
    margin-bottom: 0%;
    background: $sec-color;
    color: $main-color;
    height: 200px;
        &
         container h1 
        {
            width: 100px;
        }
  }

@media only screen and (min-width:1600px) and (max-width:2600px) {
    .SeparadorProductos {
        width: 100%;
        display: flex;
        flex-direction:initial ;
        background-color: $princ-color;
        color: $main-color;
        margin-bottom: 0px;
        height: 350px;
        padding-left: 100px;
        & img {
                height: 250px;
                padding-left: 200px;
            
        }
        & h1 {
            padding-left: 100px;
            text-transform: uppercase;
            font-size: 4rem;
            padding-top: 100px;
        }
    }
}
@media only screen and (min-width:1200px) and (max-width:1600px) {
    .SeparadorProductos {
        width: 100%;
        display: flex;
        flex-direction:initial ;
        padding-top: 5px;
        & img {
                height: 200px;
                width: 200px;
            
        }
        & h1 {
            padding-left: 100px;
            text-transform: uppercase;
            font-size: 4rem;
            padding-top: 5%;
            padding-right: 100px;
        }
    }
}
@media only screen and (min-width:400px) and (max-width:800px){
    .SeparadorProductos{
    margin-bottom: 0%;
    background: $sec-color;
    color: $main-color;
    height: auto;
    text-transform: uppercase;
    padding-left: 60px;
    padding-right: 60px;
        & img {
            height: 100px;
            margin-left: 30%;
        
    }
  }
}
@media only screen and (min-width:200px) and (max-width:399px) {
    .SeparadorProductos {
        width: 100%;
        & img {
                height: 100px;
                margin-left: 120px;
            
        }
        & h1 {
            padding-left: 10px;
            text-transform: uppercase;
            font-size: 1.5rem;
            margin-left: 30px;
        }
    }
}
@media only screen and (min-width:800px) and (max-width:1200px){
    .SeparadorProductos {
        display: flex;
        padding-left: 100px;
        padding-bottom: 0px;
        background: $sec-color;
        margin-bottom: 0px;
        & img {
            margin-left: 50px;
            height: 100px;
            width: 100px;
            margin-top:1rem;
        }
        & h1 {
            padding-top: 30px;
            text-transform: uppercase;
            font-size: 4rem;
            height: 125px;
            width: auto;
        }
    }
  }

  @media only screen and (min-width:1200px) and (max-width:1600px) {
    .s-download .display-1,
    .s-download .display-2 {
    color: $font-color;
    text-transform: uppercase;
    font-size: 6rem;
    padding-top: 100px;
    }
  }
  @media only screen and (min-width:800px) and (max-width:1200px) {
    .s-download .display-1,
    .s-download .display-2 {
    color: $font-color;
    text-transform: uppercase;
    font-size: 5rem;
    margin-left: 320px;
  }
  .s-download .download-content__text {
    width: auto;
    float: none;
    text-align: center;
    margin-bottom:0;
    font-size: small;
    margin-left: 10px;
  }
  .s-download .download-content__text p {
        margin-bottom: 0px;
        font-size: large;
        margin-left: 320px;
        font-family: $cont-font;
  }
  }
    /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {
    padding: 60px 0;
    overflow: hidden;
    padding-bottom: 0%;
  }
  
  .section-bg {
    background: linear-gradient(1deg,rgb(250,250,230) 0%,rgb(230,230,250) , rgb(230,230,250)  100%);
  }
  @media only screen and (min-width:1600px) and (max-width:2600px){
    .section-bg {
      background: linear-gradient(180deg,rgb(250,250,230) 0%,rgb(230,230,250) , rgb(230,230,250)  100%);
      padding-top: 5px;
    }
  }
  @media only screen and (min-width:1200px) and (max-width:1600px){
    .section-bg {
      background: linear-gradient(180deg,rgb(250,250,230) 0%,rgb(230,230,250) , rgb(230,230,250)  100%);
      padding-top: 5px;
    }
  }
  @media only screen and (min-width:800px) and (max-width:1200px){
    .section-bg {
      background: linear-gradient(180deg,rgb(250,250,230) 0%,rgb(230,230,250) , rgb(230,230,250)  100%);
      padding-top: 5px;
    }
  }
  @media only screen and (min-width:400px) and (max-width:800px){
    .section-bg {
      background: linear-gradient(180deg,rgb(250,250,230) 0%,rgb(230,230,250) , rgb(230,230,250)  100%);
      padding-top: 5px;
    }
  }
  .section-bg-dos {
    background: linear-gradient(180deg,rgb(230,230,250) 0%,rgb(250,250,230) , rgb(250,250,230)  100%);
  }
  @media only screen and (min-width:1600px) and (max-width:2600px){
    .section-bg-dos {
      background: linear-gradient(1deg,rgb(250,250,230) 0%,rgb(230,230,250) , rgb(230,230,250)  100%);
      padding:100px;
    }
  }
  .section-bg-tres {
    background: linear-gradient(180deg,rgb(250,250,230) 0%,rgb(250,250,230) , rg(230,230,250)  100%);
  }
