/** FONT **/ 
$main-font:'Julius Sans One', sans-serif;
$cont-font:'Libre Caslon Display', serif;
$social-font: 'simple-line-icons';
$font-color: #a52a2a;
$main-color: brown;
/** COLOR **/
$backg-color:linear-gradient(90deg, rgba(230,230,250,1) 52%, rgba(250,250,230,1) 84%);
$princ-color:rgba(230,230,250,1);
$sec-color:  rgb(250,250 ,230);
/** NAVEGADOR **/
$bg-nav:rgb(250, 250,230);

/** PRODUCTOS **/

